/DeadlockTimeoutRollbackMarker.class
/MySQLDataException.class
/MySQLIntegrityConstraintViolationException.class
/MySQLInvalidAuthorizationSpecException.class
/MySQLNonTransientConnectionException.class
/MySQLNonTransientException.class
/MySQLQueryInterruptedException.class
/MySQLStatementCancelledException.class
/MySQLSyntaxErrorException.class
/MySQLTimeoutException.class
/MySQLTransactionRollbackException.class
/MySQLTransientConnectionException.class
/MySQLTransientException.class
