/ConnectionWrapper.class
/JDBC42CallableStatementWrapper.class
/JDBC42PreparedStatementWrapper.class
/JDBC4CallableStatementWrapper.class
/JDBC4ConnectionWrapper.class
/JDBC4MysqlPooledConnection.class
/JDBC4MysqlXAConnection.class
/JDBC4PreparedStatementWrapper.class
/JDBC4StatementWrapper.class
/JDBC4SuspendableXAConnection.class
/MysqlConnectionPoolDataSource.class
/MysqlDataSource.class
/MysqlDataSourceFactory.class
/MysqlPooledConnection.class
/MysqlXAConnection.class
/MysqlXADataSource.class
/MysqlXAException.class
/MysqlXid.class
/PreparedStatementWrapper.class
/StatementWrapper.class
/SuspendableXAConnection.class
/WrapperBase$ConnectionErrorFiringInvocationHandler.class
/WrapperBase.class
